{% extends 'landing-page/base.html' %}{% block content %}


<div class="container-fluid land">
    <div class="text-center">
        <h1 class='intro'>InstaClone</h1>
        <p class="para">Welcome to Instgram Clone, Upload, view, Comment and like individual pictures.The place to enjoy nature and also places</p>
        <div class="bt1">
            <a id="start" class="btn btn-success" href=""><span class="view">Login</span></a><br><br>
            <a id="start" class="btn btn-success" href=""><span class="view">SignUp</span></a>
        </div>
    </div>

</div>


{% endblock %}